cb { background-color: #76b5c5 }

a {
	color: black;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}

b {
	color: black;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}

body {
	text-align: center;
	font-family: sans-serif;
	background-color: #76b5c5;
	color: black;
}
