{% extends "base.html" %}
{% block title %}About Page{% endblock %}
{% block content %}
<h3>BROUGHT TO YOU BY THE PYTHON LOUNGE</h3>
<h4>Add Image Here</h4>

<div>
<img src="{{ user_image }}" alt="image by ????">
<h6>image by ????</h6>
</div>
{% endblock %}
