{% extends "base.html" %}
{% block title %}Poppies{% endblock %}
{% block content %}
<h3>In Flanders Fields</h3>
<h5>By John McCrae</h5>
<h4>November 11</h4>

<pre>
	Between the crosses, row on row,
	    That mark our place; and in the sky
	    The larks, still bravely singing, fly
	Scarce heard amid the guns below.
	
	We are the Dead. Short days ago
	We lived, felt dawn, saw sunset glow,
	    Loved and were loved, and now we lie,
	        In Flanders fields.
	
	Take up our quarrel with the foe:
	To you from failing hands we throw
	    The torch; be yours to hold it high.
	    If ye break faith with us who die
	We shall not sleep, though poppies grow
	        In Flanders fields.
</pre>

<div>
<img src="{{ user_image }}" alt="image by Jorge Fernandez Salas">
<h6>image by Jorge Fernandez Salas</h6>
</div>
{% endblock %}
    
